@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    font-family: lato;
    background-color: #D3C0D2;
}

.article-abstract:hover {
    background-color: #DAFFEF;
}

.btn-primary {
    border-color: #6A5159;
    background-color: #6A5159;
}

.btn-primary:hover {
    border-color: #498C6F;
    background-color: #498C6F;
}

.article-category {
    background-color: #5C0029;
}

.article-details img {
    height:300px;
    object-fit: cover;
    object-position: 50% 50%;
}